<div>
  <div>
    <th>Name</th>
    <th>Image</th>
    <th>Prix</th>
    <th>Actions</th>
  </div>
  <div *ngFor="let it of Stock;let i = index">
    <td>{{ it.name }}</td>
<!--    <td><img [src]="it.image" [alt]="it.name"></td>-->
    <td>{{ it.price }}</td>
    <td>
      <button [routerLink]="[it.id]">Detail</button>
      <button (click)="buyProduct(it.id)">Acheter</button>
    </td>
  </div>
</div>
